# fly.toml app configuration file generated for bookio-api on 2026-01-10T11:58:32+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bookio-api'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  HOST = '0.0.0.0'
  NODE_ENV = 'production'
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

  [http_service.concurrency]
    type = 'connections'
    hard_limit = 25
    soft_limit = 20

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
